# On Windows, git can be setup to convert text files to use
# DOS/Windows newlines (\r\n) rather than Unix style (\n).
# This should be harmless for most of our unit tests...
# Still, it's better when we try to assure unform Unix style
# when committing:

* text=auto

# However, where testing indexing and get_raw (including the
# BGZF tests comparing the uncompressed file to the compressed
# file) it can be important to preserve the line endings in git.

Tests/Fasta/f002 binary
Tests/GenBank/cor6_6.gb binary
Tests/GenBank/NC_000932.gb binary
Tests/Quality/example.fastq binary
Tests/Quality/example_dos.fastq binary
Tests/Blast/wnts.xml binary

# This pickle file has to be using Unix new lines otherwise at
# least Python 3.4's C pickle parser fails with exception:
# _pickle.UnpicklingError: the STRING opcode argument must be quoted

Tests/SubsMat/acc_rep_mat.pik binary

# MMTF is a binary file format,
Tests/PDB/4CUP.mmtf binary

# UCSC Nib files are binary:
Tests/Nib/test_bigendian.nib binary
Tests/Nib/test_littleendian.nib binary
