#Ignore the build directory (and its sub-directories):
build

#Ignore the distribution directory
dist
 
#Ignore backup files from some Unix editors,
*~
*.swp

#Ignore these hidden files from Mac OS X
.DS_Store

#Ignore hidden files from Dolphin window manager
.directory
 
#Ignore all compiled python files (e.g. from running the unit tests):
*.pyc
*.pyo

#Ignore all Jython class files (present if using Jython)
*.class
 
#The graphics unit tests produce output files for human inspection
#(at the time of writing, only PDF files are created but I expect
#this to change).
Tests/Graphics/*.pdf
Tests/Graphics/*.eps
Tests/Graphics/*.svg
Tests/Graphics/*.png
