#Special configuration file to run tests on Travis-CI via GitHub notifications
#See http://travis-ci.org/ for details
#
#Note when testing Python 3, the 'python' command will invoke Python 3
#and similarly for PyPy too.

language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "pypy"

before_install:
  - "export PY3=no"
  - "if [[ $TRAVIS_PYTHON_VERSION == '3.2' ]]; then export PY3=yes; fi"
  - "if [[ $TRAVIS_PYTHON_VERSION == '3.3' ]]; then export PY3=yes; fi"
  - "sudo apt-get install clustalw clustalo"
  - "sudo apt-get install t-coffee muscle mafft probcons wise emboss"
  - "sudo apt-get install samtools bwa"
#Installing psycopg2 does not work under PyPy or Jython
  - "export PG=yes"
  - "if [[ $TRAVIS_PYTHON_VERSION == 'pypy' ]]; then export PG=no; fi"
  - "if [[ $PG == 'yes' ]]; then pip install psycopg2 --use-mirrors; fi"
#Installing mysql-python does not work under Python 3.2
  - "export MSQL=$PG"
  - "if [[ $PY3 == 'yes' ]]; then export MSQL=no; fi"
  - "if [[ $MSQL == 'yes' ]]; then pip install mysql-python --use-mirrors; fi"

install:
  - "/usr/bin/yes | python setup.py install"

before_script:
  - cd Tests

script:
  - python run_tests.py --offline

#The email defaults are too talkative while we're getting Travis working nicely.
notifications:
  email: false
