# Special configuration file to run tests on Travis-CI via GitHub notifications
# See https://travis-ci.org/biopython/biopython/builds for results
#
# Using TravisCI's configuration alone became too complicated once we wanted
# to cover more than just running the unit tests on different versions of
# Python, so this now does all the complicated test configuration via TOX
# See file .travis-tox.ini
#
# Environment variables setup here:
# - TOXENV = environment used in Tox (conventionally uses py35 etc)
#

language: python
matrix:
  include:
    - env: TOXENV=pep8
    - env: TOXENV=sdist
    - python: 2.6
      env: TOXENV=py26-cover
    - python: 2.7
      env: TOXENV=py27-cover
    - python: 3.3
      env: TOXENV=py33-cover
    - python: 3.4
      env: TOXENV=py34-cover
    - python: 3.5
      env: TOXENV=py35-cover
    - python: pypy
      env: TOXENV=pypy-cover
    - python: pypy3
      env: TOXENV=pypy3-nocov

sudo: false
addons:
  apt:
    packages:
    - bwa
    - clustalo
    - clustalw
    - emboss
    - mafft
    - muscle
    - probcons
    - samtools
    - wise

install:
  - "cp Tests/biosql.ini.sample Tests/biosql.ini"
  - "pip install --upgrade pip setuptools"
  - "pip install tox"
  - "tox -c .travis-tox.ini -e $TOXENV --notest"

script:
  - "tox -c .travis-tox.ini -e $TOXENV"

notifications:
  email: false
