# MANIFEST.in
#
# This tells distutils what files to distribute.

include CONTRIB.rst
include LICENSE.rst
include NEWS.rst
include README.rst
include DEPRECATED.rst
include CONTRIBUTING.rst

include MANIFEST.in

recursive-include Scripts *    # Include scripts.
recursive-include Tests *      # Include regression tests.
recursive-include Bio *.c      # Include all .c files.
recursive-include Bio *.h      # Include headers to compile .c files.
recursive-include Doc *.tex    # Include relevant documentation.
recursive-include Doc *.pdf
recursive-include Doc *.py
recursive-include Doc *.html
recursive-include Doc *.fasta
recursive-include Doc Makefile
recursive-include Doc/examples *.aln
recursive-include Doc/examples *.faa
recursive-include Doc/examples *.xpk
recursive-include Doc/examples *.gbk
recursive-include Doc/examples *.sth
recursive-include Doc/examples *.bgz
recursive-include Doc/examples *.xml
recursive-include Doc/examples *.psl
recursive-include Doc/examples *.dnd
recursive-include Doc/examples *.csv
recursive-include Doc/images *.png
recursive-include Doc/images *.jpg # e.g. the old logo for the Tutorial
recursive-include Doc/images *.svg # e.g. the new logo for the Tutorial
include Doc/examples/ls_orchid.gbk.gz
include Doc/examples/ls_orchid.gbk.bz2
include Doc/examples/ec_5.4.2.2.txt 

# Include Bio.Cluster, Bio.Affy, Bio.phenotype
# Note setup.py will only install these if Numpy is installed.
recursive-include Bio/Cluster *.py
recursive-include Bio/Affy *.py
recursive-include Bio/Align *.py
recursive-include Bio/phenotype *.py

exclude Tests/Graphics/*   # Exclude test files generated by reportlab.
include Tests/Graphics/README # But include README file to make directory!

# Exclude archive of sample Gck files (automatically downloaded during
# tests but that we cannot redistribute).
exclude Tests/Gck/DGVC_GCK.zip

# e.g. from running the unit tests, or PyPy, etc
global-exclude *.pyc *.pyo *.py{} *.py-e

# Make sure the required data files are included.
include Bio/Entrez/DTDs/*.dtd  # Include DTD files for Entrez
include Bio/Entrez/DTDs/*.ent  # Include DTD files for Entrez
include Bio/Entrez/DTDs/*.mod  # Include DTD files for Entrez
include Bio/Entrez/XSDs/*.xsd  # Include XSD files for Entrez
include Bio/Align/substitution_matrices/data/*  # Include precalculated substitution matrices
exclude Bio/Align/substitution_matrices/data/README.txt
