# MANIFEST.in
#
# This tells distutils what files to distribute.

include AUTHORS
include LICENSE
include NEWS
include README
recursive-include Scripts *.py
recursive-include Doc *
recursive-include Tests *
global-exclude CVS
global-exclude CVS/*

exclude Tests/Amino
exclude Tests/Blast
exclude Tests/Enzymes
exclude Tests/Fasta
exclude Tests/Gobase
exclude Tests/Nucleic
exclude Tests/Prosite
exclude Tests/Prosite/Doc
exclude Tests/Rebase
exclude Tests/SwissProt
exclude Tests/UnitTests
exclude Tests/UnitTests/Prosite
exclude Tests/UnitTests/Save
exclude Tests/UnitTests/Seq
exclude Tests/output
exclude Tests/Blast/bt008*    # file too large
