[flake8]
doctests = True
ignore =
    # =======================
    # flake: E###, F###, W###
    # =======================
    # pycodestyle v2.4.0 default ignore is E121,E123,E126,E226,E24,E704,W503,W504
    # flake8 v3.6.0 default ignore is      E121,E123,E126,E226,E24,E704,W503,W504
    #
    # These are ignored by default:
    E122,E123,E126,E241,W503,W504,
    # These are not ignored by default:
    # E402	module level import not at top of file
    # E501	line too long (XX > 79 characters)
    # E731	do not assign a lambda expression, use a def
    # F401	module imported but unused
    # F405	name may be undefined, or defined from star imports: module
    # F841	local variable name is assigned to but never used
    # TODO: Fix some of these?
    E402,E501,E731,F401,F405,F841,
    # =====================================
    # pydocstyle: D1## - Missing Docstrings
    # =====================================
    # D100	Missing docstring in public module
    # D101	Missing docstring in public class
    # D102	Missing docstring in public method
    # D103	Missing docstring in public function
    # D104	Missing docstring in public package
    # D105	Missing docstring in magic method
    # TODO: Fix some of these?
    D100,D101,D102,D103,D105,
    # ====================================
    # pydocstyle: D2## - Whitespace Issues
    # ====================================
    # D202	No blank lines allowed after function docstring
    # TODO: Fix this:
    D202,
    # We ignore D203 deliberately in favour of passing D211,
    D203,
    # ====================
    # flake8-bugbear: B###
    # ====================
    # B007	Loop control variable not used within the loop body.
    #     	If this is intended, start the name with an underscore.
    # B009	Do not call getattr with a constant attribute value,
    #     	it is not any safer than normal property access.
    # B010	Do not call setattr with a constant attribute value,
    #     	it is not any safer than normal property access.
    # B011	Do not call assert False since python -O removes these calls.
    #     	Instead callers should raise AssertionError().
    B007,B009,B010,B011,
    # =========================================
    # flake8-commas (in case installed locally)
    # =========================================
    # C812	missing trailing comma
    C812,
    # ========================================
    # flake8-black (in case installed locally)
    # ========================================
    # BLK100 Black would make changes.
    BLK100,
