[flake8]
doctests = True
ignore =
    # =======================
    # flake: E###, F###, W###
    # =======================
    # pycodestyle v2.3.1 default ignore is E121,E123,E126,E226,E24,E704,W503
    # flake8 v3.3.0 default ignore is      E121,E123,E126,E226,E24,E704,W503,W504
    E122,E123,E126,E127,E128,E241,E402,E501,E731,F401,F405,F821,F841,
    # =====================================
    # pydocstyle: D1## - Missing Docstrings
    # =====================================
    # D100	Missing docstring in public module
    # D101	Missing docstring in public class
    # D102	Missing docstring in public method
    # D103	Missing docstring in public function
    # D104	Missing docstring in public package
    # D105	Missing docstring in magic method
    # TODO: Fix some of these?
    D100,D101,D102,D103,D105,
    # ====================================
    # pydocstyle: D2## - Whitespace Issues
    # ====================================
    # D200	One-line docstring should fit on one line with quotes
    # D202	No blank lines allowed after function docstring
    # D203	1 blank line required before class docstring
    # D204	1 blank line required after class docstring
    # TODO: Fix these:
    D200,D202,D204,
    # We ignore D203 deliberately in favour of passing D211,
    D203,
    # ================================
    # pydocstyle: D3## - Quotes Issues
    # ================================
    # D300  Use """triple double quotes"""
    # TODO: Fix this:
    D300,
    # ===========================================
    # pydocstyle: D4## - Docstring Content Issues
    # ===========================================
    # D400	First line should end with a period
    # D401	First line should be in imperative mood
    # D402	First line should not be the function’s "signature"
    # D403	First word of the first line should be properly capitalized
    # D412	No blank lines allowed between a section header and its content
    D400,D401,D403,
    # We ignore D412 deliberately:
    D412,
    # =========================================
    # flake8-commas (in case installed locally)
    # =========================================
    # C812	missing trailing comma
    C812
