[flake8]
doctests = True
max-line-length = 90
ignore =
    # =======================
    # flake: E###, F###, W###
    # =======================
    # pycodestyle v2.3.1 default ignore is E121,E123,E126,E226,E24,E704,W503
    # flake8 v3.3.0 default ignore is      E121,E123,E126,E226,E24,E704,W503,W504
    # =====================================
    # pydocstyle: D### - Missing Docstrings
    # =====================================
    D100,D101,D102,D103,
    # ====================
    # flake8-bugbear: B###
    # ====================
    B007,
    # ========================================
    # flake8-black (in case installed locally)
    # ========================================
    # BLK100 Black would make changes.
    BLK100,
