[flake8]
doctests = True
max-line-length = 92
ignore =
    # =======================
    # flake: E###, F###, W###
    # =======================
    # pycodestyle v2.4.0 default ignore is E121,E123,E126,E226,E24,E704,W503,W504
    # flake8 v3.6.0 default ignore is      E121,E123,E126,E226,E24,E704,W503,W504
    W504,
    # =====================================
    # pydocstyle: D### - Missing Docstrings
    # =====================================
    # D100	Missing docstring in public module
    # D101	Missing docstring in public class
    # D102	Missing docstring in public method
    # D103	Missing docstring in public function
    # D104	Missing docstring in public package
    # D105	Missing docstring in magic method
    D101,D102,D103,D105,
    # ====================
    # flake8-bugbear: B###
    # ====================
    # B007	Loop control variable not used within the loop body.
    #           If this is intended, start the name with an underscore.
    B007,
    # ========================================
    # flake8-black (in case installed locally)
    # ========================================
    # BLK100 Black would make changes.
    BLK100,
