[flake8]
doctests = True
max-line-length = 90
ignore =
    # =======================
    # flake: E###, F###, W###
    # =======================
    # pycodestyle v2.3.1 default ignore is E121,E123,E126,E226,E24,E704,W503
    # flake8 v3.3.0 default ignore is      E121,E123,E126,E226,E24,E704,W503,W504
    # E122,E123,E126,E127,E128,E241,E402,E501,E731,F401,F405,F821,F841,
    # =====================================
    # pydocstyle: D### - Missing Docstrings
    # =====================================
    # D100	Missing docstring in public module
    # D101	Missing docstring in public class
    # D102	Missing docstring in public method
    # D103	Missing docstring in public function
    # D104	Missing docstring in public package
    # D105	Missing docstring in magic method
    # TODO: Fix some of these?
    D100,D101,D102,D103,D105,
    # ====================================
    # pydocstyle: D### - Whitespace Issues
    # ====================================
    # D412	No blank lines allowed between a section header and its content
    # We ignore D412 deliberately:
    D412
