include setup.py README MANIFEST MANIFEST.in LICENSE CHANGELOG

include dtd2py dtd2py.py sourcegen.py

include *.py
include DTDs/*.py
include DTDs/*.dtd

include tests/runtests.py tests/support_test.py

include tests/test_*.py tests/test_*.pickle
